body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: cursive;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
  height: 62px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Company name */
  font-family: cursive;
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.5;
}

#nav-list {
    margin-top: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

li {
  font-size: 1.5em;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
}

#Chicken {
  border-top: 2px solid black;
}

/* END HEADER */

/** MAIN CONTENT **/
h1 {
  font-size: 1.5em;
}

.item {
  background-color: gray;
  border: 2px solid black;
  height: 1000px;
}

#title {
  font-size: 2em;
}

#main-content {
  margin-top: 100px;
}

